<div class="date-time">
    <script>
        let today = new Date()
        let month = today.getMonth() + 1;
        let date= today.getDate();
        let year = today.getFullYear();
        let hour = today.getHours();
        let min = today.getMinutes();
        let secs = today.getSeconds();
        let current_date = `${date}/${month}/${year}  ${hour}:${min}`
        document.write(current_date.toString());
        
         
    </script>
    
</div>