<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/style.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <div class="dash-container">
      <div class="dash-top">
        <div class="dash-top-right">
          <img src="./images/avatar.jpg" alt="Profile Image" />
          <h3>Enzo Wo</h3>
        </div>
      </div>

      <div class="dash-main">
        <div class="dash-main-top">
          <div class="form-action-flexed">
            <input
              type="text"
              class="input-space-search"
              placeholder="Enter detail to search"
            />
            <button class="btn search">SEARCH</button>
            <a href="new-client.html" class="btn other search">ADD NEW</a>
          </div>
        </div>

        <div class="dash-main-body">
          <div class="client-profile-page">
            <div class="client-details">
              <div class="client-image">
                <img src="./images/avatar.jpg" alt="" />
              </div>
              <h2>Client Details</h2>
              <div class="client-details-row">
                <div class="details-col">
                  <div class="client-prof-info">
                    <h3>Name:</h3>
                    <h4>Stephen Gathaiya Muraya</h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>Physical Address:</h3>
                    <h4>One Stop Arcade Ngong RD, Nairobi Kenya</h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>P. O. Box :</h3>
                    <h4>13-00100 NAIROBI, KENYA</h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>Phone:</h3>
                    <h4>0797923201</h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>Email:</h3>
                    <h4>gathaiya28@gmail.com</h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>ID| Passport| DL Number:</h3>
                    <h4>35522379</h4>
                  </div>
                </div>
                <div class="details-col">
                  <div class="client-prof-info">
                    <h3>Business Type:</h3>
                    <h4>Individual</h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>Nature of Business:</h3>
                    <h4>Manufacturing</h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>KRA Pin:</h3>
                    <h4>A01948920V</h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>Registration Number:</h3>
                    <h4>KSJLSKSI-098J</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="client-documents">
              <h2>Client Scanned Documents</h2>
              <a href="" class="document">KRA Certificate</a>
              <a href="" class="document">ID/Passport/DL Copy</a>
              <a href="" class="document">Cert of Incorporation</a>
            </div>
          </div>
        </div>

        <div class="date-time">
          <%- include ('./includes/date.ejs') %>
        </div>
      </div>
      <%- include ('./includes/sidePane.ejs') %>
    </div>
  </body>
</html>
