<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/style.css" />
    <title>EIA Management System</title>
  </head>
  <body>
    <div class="dash-container">
      <div class="dash-top">
        <div class="dash-top-right">
          <img src="./images/avatar.jpg" alt="Profile Image" />
          <h3>Enzo Wo</h3>
        </div>
      </div>

      <div class="dash-main">
        <div class="dash-main-top">
          <div class="form-action-flexed">
            <input
              type="text"
              class="input-space-search"
              placeholder="Enter detail to search"
            />
            <button class="btn search">SEARCH</button>
          </div>
        </div>

        <div class="dash-main-body mv-details">
          <div class="selection-btns">
            <a href="" class="list-select-btn active">Basic Info</a>
            <a href="" class="list-select-btn">Image Records</a>
          </div>

          <div class="mv-info-page">
            <div class="mv-info-title">
              <h3>Reg. No:</h3>
              <h4>KCR 376M</h4>
            </div>
            <div class="mv-column">
              <div class="mv-info">
                <h4>Chassis:</h4>
                <h6>SV30-0169266</h6>
              </div>
              <div class="mv-info">
                <h4>Make:</h4>
                <h6>Honda</h6>
              </div>
              <div class="mv-info">
                <h4>Body:</h4>
                <h6>sedan</h6>
              </div>
              <div class="mv-info">
                <h4>Fuel:</h4>
                <h6>Diesel</h6>
              </div>
              <div class="mv-info">
                <h4>MOY:</h4>
                <h6>2015</h6>
              </div>
              <div class="mv-info">
                <h4>Rating:</h4>
                <h6>80%</h6>
              </div>
              <div class="mv-info">
                <h4>Eng. No:</h4>
                <h6>52WVC10338</h6>
              </div>
              <div class="mv-info">
                <h4>Color:</h4>
                <h6>Dark Green</h6>
              </div>
              <div class="mv-info">
                <h4>Gross Weight:</h4>
                <h6>800 Kg</h6>
              </div>
            </div>
            <div class="mv-column">
              <div class="mv-info">
                <h4>Passangers:</h4>
                <h6>7 Passangers</h6>
              </div>
              <div class="mv-info">
                <h4>Tare Weight:</h4>
                <h6>750 Kg</h6>
              </div>
              <div class="mv-info">
                <h4>Tax Class:</h4>
                <h6>HVG R</h6>
              </div>
              <div class="mv-info">
                <h4>Axels:</h4>
                <h6>2</h6>
              </div>
              <div class="mv-info">
                <h4>Loading Capacity:</h4>
                <h6>400 Kg</h6>
              </div>
              <div class="mv-info">
                <h4>Owner:</h4>
                <h6><a href="">Enzo Wo</a></h6>
              </div>
            </div>
          </div>
        </div>

        <div class="date-time">
          <h4>10:00 am 30th April 2021</h4>
        </div>
      </div>
      <div class="dash-side-pane">
        <div class="dash-side-pane-img">
          <img src="./images/eia_logo.png" alt="EIA Image" />
        </div>
        <ul class="links">
          <li><a href="home.html" class="link">HOME</a></li>
          <li><a href="home.html" class="link">HOME</a></li>
          <li><a href="dashboard.html" class="link">CLIENTS</a></li>
          <li>
            <a href="underwriting.html" class="link active">UNDERWRITING</a>
          </li>
          <li><a href="" class="link">CLAIMS</a></li>
          <li><a href="" class="link">CREDIT</a></li>
          <li><a href="" class="link">REPORTS</a></li>
        </ul>
        <ul class="links bottom">
          <li><a href="" class="link">LOGOUT</a></li>
          <li><a href="admin.html" class="link">ADMIN</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
