<%- include ('./includes/head.ejs') %>

        <div class="dash-main">
            <div class="dash-main-top">
                <div class="form-action-flexed">
                    <input type="text" class="input-space-search" placeholder="Enter detail to search">
                    <button class="btn search">SEARCH</button>
                </div>
            </div>

            <div class="dash-main-body mv-details">

            </div>

            <div class="date-time">
                <%- include ('./includes/date.ejs') %>
            </div>
        </div>
        <%- include ('./includes/sidePane.ejs') %>
    </div>
</body>
</html>