:root {
  --main-primary-color: #3b4d74;
  --main-accent-color: #aa2424;
  --background-grey: #ececec;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cantarell", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.login-container {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
}

.login-top {
  max-height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: #fff;
  flex-wrap: wrap;
}

.login-top-left,
.login-top-right {
  height: 100%;
  width: 100%;
  flex: 1;
  padding: 0.5rem 2rem;
}

.login-top-left img {
  width: auto;
  max-height: 15vh;
  object-fit: cover;
}

.login-top-right h2 {
  width: 100%;
  text-align: right;
  color: var(--main-primary-color);
  font-weight: 700;
}

.login-top-right h2 span {
  color: var(--main-accent-color);
}
.login-main {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.login-left {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-primary-color);
}

.left-title h1 {
  font-weight: 700;
  font-size: 3rem;
}

.login-right {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-action {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}

.form-action h2 {
  margin: 1rem 2rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.input-group {
  width: 100%;
  display: flex;
  padding: 0.3rem 1rem;
  align-items: center;
  justify-content: right;
}

.input-label {
  margin: 0 1rem;
  width: 100px;
  color: var(--main-primary-color);
  font-weight: 600;
  font-size: 18px;
}

.input-space {
  width: 80%;
  height: 3rem;
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 0 1rem;
  color: var(--main-primary-color);
  font-weight: 700;
  font-size: 18px;
  border: 1px solid #000;
}

.input-labelss {
  width: 80%;
  height: 3rem;
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 0 1rem;
  color: var(--main-accent-color);
  font-weight: 700;
  font-size: 18px;
  border: 1px solid #000;
}

.input-space:focus {
  border: none;
}

.spaced-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1rem 0;
  align-items: center;
}

.btn {
  padding: 0.2rem 1rem;
  color: #fff;
  background-color: var(--main-accent-color);
  border: none;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
}

.btn.login {
  padding: 0.5rem 2rem;
}

.btn.search {
  height: 2.5rem;
}

.btn.other {
  background-color: var(--main-primary-color);
}

.forgot-pass {
  text-decoration: none;
  color: blue;
  font-weight: 500;
}

/* /////////////////// DASHBOARD ///////////////// */

.dash-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.dash-top {
  height: 4rem;
  width: 72%;
  margin-right: 3.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  position: fixed;
  z-index: 99;
  background-color: #fff;
}

.dash-top-right {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
}

.dash-top-right h3 {
  font-size: 15px;
  font-weight: 400;
  margin: 0 1rem;
}

.dash-top-right img {
  max-height: 2.3rem;
  border-radius: 50%;
}

.dash-side-pane {
  width: 17%;
  background-color: var(--background-grey);
  position: fixed;
  height: 90vh;
  margin-top: 2rem;
  min-width: 200px;
  left: 5%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dash-side-pane-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 -1rem 0;
}

.dash-side-pane-img img {
  max-height: 5rem;
}

.links {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
}

.links.bottom {
  margin: 0.5rem 0;
}

.links li {
  width: 100%;
}

.link {
  text-decoration: none;
  color: var(--main-primary-color);
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: none;
  transition: all 0.2s ease-in-out;
}

.link:hover,
.link.active {
  background-color: rgba(250, 250, 250, 0.856);
  transition: all 0.2s ease-in;
}

.dash-main {
  width: 75%;
  top: 15%;
  right: 0%;
  position: absolute;
  padding: 0 0 3rem 0;
  margin-bottom: 5rem;
}

.dash-main-top {
  width: 95%;
  min-height: 5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-action-flexed {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-space-search {
  width: 50%;
  height: 3rem;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0 1rem;
  color: var(--main-primary-color);
  font-weight: 400;
  font-size: 18px;
  border: 1px solid #000;
  margin: 0 2rem;
}

.dash-main-body {
  width: 95%;
  border-radius: 1rem;
  padding: 1rem;
}

.dash-main-body.mv-details {
  background-color: var(--background-grey);
  min-height: 60vh;
}

.date-time {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  text-align: right;
  padding: 1rem 0;
  right: 3%;
  width: 100%;
}

.selection-btns {
  width: 100%;
  display: flex;
}

.list-select-btn {
  border: 1px solid #ddd;
  padding: 1rem 3rem;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.list-select-btn:hover {
  background-color: #ddd;
}

.list-select-btn.active {
  background-color: #aa2424;
  color: #fff;
}

.list-select-btn.active:hover {
  background-color: #e26e6e;
}

.info-list-table {
  width: 100%;
  border-collapse: collapse;
}

.info-list-table th {
  background-color: var(--main-primary-color);
  color: #fff;
  padding: 12px 0;
}

.info-list-table td,
.info-list-table th {
  border: 1px solid #cfcfcf;
  padding: 9px;
  text-align: center;
}

.info-list-table.users td {
  border: 1px solid #cfcfcf;
  padding: 0px;
  text-align: center;
}
td.users {
  text-align: start !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #cfcfcf;
  background-color: #cfcfcf;
  padding: 2px !important;
}
.info-list-table tbody tr {
  cursor: pointer;
}
.info-list-table.users tbody tr {
  cursor: auto;
}
.info-list-table tr:hover {
  background-color: rgb(238, 238, 238);
}

.info-list-table tr:nth-child(even) {
  background-color: #ddd;
}

.user-option {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #469252;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  border: none;
  transition: all 400ms ease-in-out;
  outline: 1px solid #fff;
  position: relative;
  border-right: 1px solid #cfcfcf;
}

.user-option:hover {
  outline-offset: -6px;
  animation: outlineAnim 600ms normal;
  background-color: #469252;
  color: #fff;
  transition: all 100ms ease-in-out;
}

@keyframes outlineAnim {
  0% {
    outline-offset: 0px;
  }
  50% {
    outline-offset: -12px;
  }
  100% {
    outline-offset: -6px;
  }
}

.user-option:nth-child(2) {
  color: var(--main-accent-color);
  background-color: #fff;
}
.user-option:nth-child(2):hover {
  color: #fff;
  background-color: var(--main-accent-color);
}

.view-more-link {
  width: 100%;
  text-align: right;
  color: blue;
  margin-left: auto;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 0 5rem 3rem 0;
}

.mv-info-page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

.mv-info-title {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.mv-info-title h4 {
  font-weight: 300;
  font-size: 15px;
  padding-top: 0.2rem;
  padding-left: 1rem;
}

.mv-info {
  display: flex;
  align-items: center;
}

.mv-column {
  width: 420px;
}

.mv-info h4 {
  width: 200px;
  font-size: 16px;
}

.mv-info h6 a {
  text-decoration: none;
  color: blue;
}

.mv-info h6 {
  font-weight: 300;
  width: 100%;
  padding: 0.2rem 0 0 0;
  font-size: 14px;
}

.admin-panel {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.admin-panel a {
  text-decoration: none;
}

.admin-card-options {
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
  max-width: 250px;
  height: 10rem;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: #3b4d74e1;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
}

.admin-panel a:nth-child(2) .admin-card-options {
  background-color: #aa2424e1;
}

.admin-panel a:nth-child(3) .admin-card-options {
  background-color: rgba(0, 0, 0, 0.493);
}

.admin-card-options h2 {
  position: absolute;
  right: 5%;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.068);
  top: -10%;
  font-size: 5rem;
  z-index: -1;
  pointer-events: none;
}

.admin-card-options h3 {
  z-index: 1;
  color: #fff;
  pointer-events: none;
}

.admin-card-options p {
  z-index: 1;
  color: #fff;
  pointer-events: none;
}

.user-reg-space {
  width: 100%;
}

.user-reg-form {
  width: 100%;
}

.user-split-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user-input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.3rem 1rem;
}

.user-reg-input {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid #000;
  padding: 1rem;
  margin: 0.2rem;
}

.btn-holder {
  width: 200px;
  height: 2rem;
  margin: 1rem;
  position: relative;
}

.btn-holder .create-btn {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  border: none;
  background-color: var(--main-accent-color);
  color: #fff;
  cursor: pointer;
  transition: transform 400ms ease-in-out, background-color 400ms;
}

.btn-holder .create-btn:hover {
  transform: scale(1.05);
  background-color: #cc1313;
}

.btn-holder:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  animation: Pulse 1400ms infinite;
  z-index: -1;
  border-radius: 0.3rem;
}

@keyframes Pulse {
  0% {
    transform: scale(0.7);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes Pulse-img {
  0% {
    transform: scale(0.7);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.account-title,
.account-desc {
  padding: 0 1rem;
}

.pass-red {
  background-color: #ad3f3f;
  color: #fff;
}

.pass-green {
  background-color: #529e5f;
  color: #fff;
}

.pass-red::placeholder {
  color: #fff;
  opacity: 1;
}

.pass-green::placeholder {
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #fff;
}

::-ms-input-placeholder {
  color: #fff;
}
.user-profile-details {
  width: 100%;
}
.prof-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 2rem 0;
}
.user-profile-logo {
  max-width: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}
.user-profile-logo::after {
  background-color: #cc1313;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  /* animation: Pulse-img 1500ms infinite; */
}
.prof-col {
  width: 100%;
  flex: 1;
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
}
.user-profile-logo img {
  max-width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  transition: all 500ms ease-in-out;
}
.user-profile-logo img:hover {
  transform: scale(1.15);
  transition: all 300ms ease-in-out;
}
.prof-options {
  max-width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0;
  color: var(--main-accent-color);
  outline: 1px solid var(--main-accent-color);
  outline-offset: -1px;
  border: 1px solid var(--main-accent-color);
  background-color: #fff;
  transition: all 500ms ease-in-out;
}
.prof-options:nth-child(2) {
  color: #529e5f;
  border: 1px solid #529e5f;
  outline: 1px solid #529e5f;
}
.prof-options:nth-child(2):hover {
  background-color: #529e5f;
}
.prof-options:hover {
  outline: 1px solid #fff;
  outline-offset: -10px;
  transition: all 250ms ease-in-out;
  background-color: #aa2424;
  color: #fff;
}

.client-profile-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 1rem;
  padding: 1rem;
  /* box-shadow: 3px 3px 3px 3px #00000033; */
}
.client-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #dadada;
}
.client-image {
  width: 100%;
  padding: 1rem;
}
.client-details img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all 500ms ease-in-out;
  background-color: rgb(223, 223, 223);
}
.client-details img:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}
.client-details-row {
  width: 100%;
  display: flex;
  margin: 2rem 0;
  padding: 0 1rem;
  justify-content: space-around;
}
.details-col {
  flex: 1;
}
.client-prof-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.3rem;
}
.client-prof-info h3 {
  padding: 0 1rem 0 0;
}
.client-prof-info h4 {
  padding: 0.15rem 0 0 0;
  font-weight: 400;
  font-size: 15px;
}
.client-documents h2 {
  width: 100%;
  text-align: center;
}
.client-documents {
  display: flex;
  width: 100%;
  padding: 2rem 0;
  flex-direction: column;
}
.client-documents .document:hover {
  transform: scale(1.03);
  transition: all 200ms ease-in-out;
  background-color: #cc1313;
}
.client-documents .document {
  color: #fff;
  border-radius: 0.6rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  transition: all 600ms ease-in-out;
  background-color: var(--main-primary-color);
  text-decoration: none;
  margin: 0.5rem;
}
.client-upload-docs {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload-docs-content {
  width: 80%;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.upload-holder {
  width: fit-content;
  padding: 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.kra_label {
  background-color: var(--main-accent-color);
  color: #fff;
  max-width: 300px;
  text-align: center;
  padding: 0.6rem 2rem;
  cursor: pointer;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  transition: all 200ms ease-in-out;
}
.id_upload {
  background-color: var(--main-primary-color);
  color: #fff;
  padding: 0.6rem 2rem;
  max-width: 300px;
  text-align: center;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 1rem;
  transition: all 200ms ease-in-out;
}
.kra_label:hover {
  background-color: #db1212;
}
.id_upload:hover {
  background-color: #3c5faa;
}
.input-upload-documents {
  display: none;
}
.upload-file-info-id,
.upload-file-info-kra {
  margin: -10px 1rem;
  height: 2rem;
  font-weight: 600;
  text-align: center;
  color: rgb(37, 37, 37);
}
.pop-up-back {
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  background-color: #00000086;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
}
.pop-up-back.show {
  display: flex;
  opacity: 1;
  pointer-events: all;
  transition: all 300ms ease-in-out;
}
.pop-box.show {
  opacity: 1;
  pointer-events: all;
  transition: all 300ms ease-in-out;
}
.pop-box {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  right: 0;
  display: flex;
  z-index: 100;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
}
.pop-box-panel {
  width: 35%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 101;
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.767);
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.policy-otions {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.policy-type-select {
  text-decoration: none;
  background-color: var(--main-accent-color);
  color: #fff;
  width: 180px;
  text-align: center;
  padding: 0.7rem 2.1rem;
  transition: all 200ms ease-in-out;
}
.policy-type-select:last-child:hover {
  background-color: #3260c4;
}
.policy-type-select:last-child {
  background-color: var(--main-primary-color);
}
.policy-type-select:hover {
  background-color: #db1212;
  transform: scale(1.01);
}
.policy-otion-actions {
  width: 100%;
  display: flex;
}

.btn.other.search:first-child {
  transition: all 300ms ease-in-out;
}
.btn.other.search:first-child:hover {
  background-color: #db1212 !important;
}
.btn.other.search:last-child:hover {
  background-color: #3260c4 !important;
}
.btn.other.search:last-child {
  background-color: var(--main-primary-color) !important;
  transition: all 300ms ease-in-out;
}

.productivity-row {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.productivity-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.productivity-title {
  width: 100%;
  text-align: center;
  font-weight: 600;
}
.productivity-card {
  flex: 2;
  min-height: 3rem;
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 3px 2px 3px 3px rgba(0, 0, 0, 0.178);
}
.bar-levels {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.eia-img {
  flex: 1;
}
.bar-level {
  width: 100%;
  height: 2rem;
  display: flex;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
  position: relative;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.bar-level:nth-child(2) {
  background-color: #1da734;
  width: 70%;
}
.bar-level:nth-child(4) {
  background-color: #3260c4;
  width: 80%;
}
.bar-level:nth-child(6) {
  background-color: #cc1313;
  width: 20%;
}
.tasks-card {
  flex: 1;
  margin: 1rem;
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 0.5rem;
  height: fit-content;
  box-shadow: 3px 2px 3px 3px rgba(0, 0, 0, 0.178);
}
/* ///////////////////////////////////////// CALENDAR CODE */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600");
:root {
  --calendar-bg-color: #262829;
  --calendar-font-color: #fff;
  --weekdays-border-bottom-color: #404040;
  --calendar-date-hover-color: #505050;
  --calendar-current-date-color: #1b1f21;
  --calendar-today-color: #2196f3;
  --calendar-today-innerborder-color: #000;
  --calendar-nextprev-bg-color: #1a1f21;
}

* {
  padding: 0;
  margin: 0;
}

.calendar {
  font-family: "Nunito", sans-serif;
  position: relative;
  width: 80%; /*change as per your design need */
  min-width: 320px;
  background: #6e7fa5;
  color: var(--calendar-font-color);
  margin: 20px auto;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: normal;
}

.calendar-inner {
  padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.calendar .calendar-inner .calendar-body div {
  padding: 4px;
  min-height: 30px;
  line-height: 30px;
  border: 1px solid transparent;
  margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n + 7) {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n + 7):hover {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div > a {
  color: var(--calendar-font-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
  border: 1px solid var(--calendar-date-hover-color);
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
  border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-controls a {
  color: var(--calendar-font-color);
}

.calendar .calendar-inner .calendar-today-date {
  display: grid;
  text-align: center;
  cursor: pointer;
  margin: 3px 0px;
  background: #36486d;
  padding: 8px 0px;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
  display: flex;
  min-width: 100px;
  justify-content: center;
  align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
  text-align: right;
}

.calendar
  .calendar-inner
  .calendar-controls
  .calendar-year-month
  .calendar-year-label,
.calendar
  .calendar-inner
  .calendar-controls
  .calendar-year-month
  .calendar-month-label {
  font-weight: bold;
  font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
  background: #cc1313;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
  border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
  outline: 2px solid #fc8787;
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
  font-family: consolas, sans-serif;
  font-size: 26px;
  text-decoration: none;
  padding: 4px 12px;
  display: inline-block;
  background: #3b4d74;
  margin: 0 0 10px 0;
}

.benefits-list {
  width: 100%;
  display: flex;
  height: 0;
  margin: 1rem 0;
  opacity: 0;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  transition: all 400ms ease-in-out;
}
.benefits-content {
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.check-box-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.check-box {
  flex: 1;
}
.check-box-input {
  flex: 1;
}
